<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="CardBox">

            <ul class="CardUl">
                <div class="lowCard">
                <li class="dexCard"><img class="CardImg" src="<%= card.img %>"></li>
                <li class="dexCard" id="Tcard"><a href="/card/<%= card._id %>"><%= card.name %></a></li>
                <li class="cardAttributes">Type: <%= card.type %></li>
                <li class="cardAttributes">Level: <%= card.level %></li>
                <li class="cardAttributes">ATK: <%= card.atk %></li>
                <li class="cardAttributes">DEF: <%= card.def %></li>
                <li class="cardAttributes"> <%=card.Playable ? "Playable" : "NOT Playable" %></li>
                </div>

                <div class="buttons">
                    <a href="/card/<%= card._id %>/edit"><button>Edit Card</button></a>
                    <form action="/card/<%= card._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Card"/>
                    </form>
                    </div>
            </ul>
            
        </div>
    
    </main>
</body>
</html>